<section class="bg-violet-50 h-screen flex">
    <div class="w-full">
        <div class="container pt-48 flex flex-wrap lg:flex-nowrap">
            <div class="my-auto max-w-md">
                <div class="mb-12">
                    <p class="text-violet-600 font-semibold text-lg mb-6">
                        Simplify Your Hiring Process
                    </p>
                    <h2 class="text-4xl font-semibold text-slate-800 mb-12">
                        A Comprehensive Platform for
                        <span class="text-violet-600">Hiring Success.</span>
                    </h2>
                    <p class="text-slate-600 text-xl font-light mb-6">
                        Streamline hiring: Connect with top talent, find skilled professionals, and effortlessly manage interviews
                    </p>
                    <app-button name="Start a free trial" size="L" shade="D" animation="C"></app-button>
                </div>
            </div>
            <div class="w-full">
                <img class="pl-2 lg:pt-12 w-[60%] lg:w-full ml-auto" src="../../assets/undraw_Hiring_re_yk5n-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
</section>