<div class="container mx-auto mb-16">
    <p class="text-xl text-violet-600 font-medium mb-3 {{align==='C'?'md:text-center':'md:text-left'}}">
        {{this.subHeading}}
    </p>
    <h2 class="text-3xl md:text-4xl font-medium {{align==='C'?'md:text-center':'md:text-left'}}">
        <span class="{{specialHeadingID===1?'text-violet-600':''}}">
            {{this.headingText1}} 
        </span>
        <span class="{{specialHeadingID===2?'text-violet-600':''}}">
            {{this.headingText2}} 
        </span>
        <span class="{{specialHeadingID===3?'text-violet-600':''}}">
            {{this.headingText3}} 
        </span>
    </h2>
</div>