<ul class="lg:flex font-semibold text-slate-700 text-lg gap-8 xl:gap-14">
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['']">Product</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['jobs']">Solutions</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['candidates']">Pricing</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['resumematch']">Customers</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['interviewhub']">Resources</a>
    </li>
</ul>
