<ul class="justify-center flex gap-6 font-semibold text-slate-700 text-lg">
    <li>
        <a href="#">
            <app-button class="hidden lg:block" name="Log in" size="L"></app-button>
            <app-button class="lg:hidden" name="Log in" size="M" shade="W" animation="F"></app-button>
        </a>
    </li>
    <li>
        <a href="#">
            <app-button class="hidden lg:block" name="Request a demo" size="L" shade="W" animation="C"></app-button>
            <app-button class="lg:hidden" name="Request a demo" size="M" shade="W" animation="F"></app-button>
        </a>
    </li>
</ul>
